.a11y_menu {
	@extend %a11y_main-container;
}

.a11y_menu__list {
	list-style: none;
}

.a11y_menu__list-item {
	@extend %a11y_h3;
	display: inline-block;
}

.a11y_menu__link {
	@extend %a11y_ordinary-link;
	font-size: 1.5em;
	display: block;
	padding: $pad-marg-s;

	&.is-first {
		margin-left: -$pad-marg-s;
		color: $color-main;
		font-size: 3em;

		&:hover {
			color: $color-main-light;
		}
	}
}
