.a11y_product {
	border-bottom: 1px solid $color-white-gray;
	margin-bottom: $pad-marg-l;
	padding-bottom: $pad-marg-s;
}

.a11y_product__link {
	@extend %a11y_link;
}

.a11y_product__image {
	width: 100%;
	height: auto;
}

.a11y_product__title {
	@extend %a11y_h3;
	@extend %a11y_underline-on-hover;
	font-weight: bold;
	display: block;
}

.a11y_product__description {
	@extend %a11y_text;
	@extend %a11y_underline-on-hover;
	display: block;
}

.a11y_product__price {
	@extend %a11y_text;
	display: block;
	color: $color-main;
}

.a11y_product__expandable-section {
	padding-top: $pad-marg-s;
	bottom: 0;
	display: none;

	&.is-expanded {
		display: block;
	}
}

.a11y_product__availability {
	@extend %a11y_text;
	font-size: 1em;
}

.a11y_product__availability-icon {
	color: $color-dark-green;
	margin-right: $pad-marg-xs;
}

.a11y_product__ranking {
	float: right;
}

.a11y_product-ranking-icon {
	color: $color-gray;
}
