.a11y_product {
	@extend %a11y_main-container;
	@extend %a11y_clearfix;
	//background-color: $color-main-white;
	background-color: $color-white-yellow;
	padding: $pad-marg-l;
}

.a11y_product__image-container {
	width: 45%;
	float: left;
}

.a11y_product__image {
	width: 100%;
	margin: auto;
}

.a11y_product__info {
	width: 50%;
	float: left;
	margin-left: $pad-marg-l;
}

.a11y_product__heading {
	@extend %a11y_h1;
}

.a11y_product__price-label {
	@extend %a11y_text;
	font-size: 2em;
}

.a11y_product__price {
	color: $color-main;
}

.a11y_product__button {

}

.a11y_product__sub-heading {
	@extend %a11y_h3;
	margin-top: $pad-marg-m;
	padding-top: $pad-marg-m;
	border-top: 1px solid $color-dark-yellow;
}

.a11y_product__info-text {
	@extend %a11y_text;
}