/*base colors*/
$color-white: #ffffff;
$color-black: #000000;

$color-gray: #4a4a4a;
$color-light-gray: #7d7d7d;

$color-netlight-purple: #36185f;
$color-netlight-gold: #cc9933;

/*links*/
$color-link: $color-netlight-purple;
$color-link-outline: #afffff;

/*icons*/
$color-icon: $color-gray;
$color-icon-hover: $color-light-gray;