%a11y_main-container {
	margin-right: 5%;
	margin-left: 5%;
}

%a11y_visually-hidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px;
	width: 1px; 
	margin: -1px;
	padding: 0;
	border: 0;
}

%a11y_link {
	box-sizing: border-box;
	text-decoration: none;
	color: $color-link;

	&:focus {
		outline-color: $color-link-outline;
		text-decoration: underline;
	}
}

%a11y_ordinary-link {
	@extend %a11y_link;
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}

%a11y_underline-on-hover {
	&:hover {
		text-decoration: underline;
	} 
}