/*base*/
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 9, ../base/_normalize.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../base/_normalize.scss */
body {
  line-height: 1;
}

/* line 34, ../base/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../base/_normalize.scss */
nav ul {
  list-style: none;
}

/* line 43, ../base/_normalize.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../base/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../base/_normalize.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../base/_normalize.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../base/_normalize.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../base/_normalize.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../base/_normalize.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../base/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../base/_normalize.scss */
input, select {
  vertical-align: middle;
}

/*base colors*/
/*main color theme*/
/*links*/
/*icons*/
/*text*/
/*measures*/
/* line 1, ../base/_i-typography.scss */
.a11y_grid__heading, .a11y_page-title, .a11y_product__heading, .a11y_contact-info__heading, .a11y_contact-form__heading, .a11y_menu__list-item, .a11y_product-item__title, .a11y_product__sub-heading, .a11y_header__top-border-link, .a11y_header__cart-counter, .a11y_product-item__description, .a11y_product-item__price, .a11y_product-item__availability, .a11y_product__price-label, .a11y_product__info-text, .a11y_contact-info__text, .a11y_contact-form__label, .a11y_contact-form__select, .a11y_contact-form__text-field, .a11y_contact-form__text-area, .a11y_button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 5, ../base/_i-typography.scss */
.a11y_grid__heading, .a11y_page-title, .a11y_product__heading, .a11y_contact-info__heading, .a11y_contact-form__heading, .a11y_menu__list-item, .a11y_product-item__title, .a11y_product__sub-heading {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* line 12, ../base/_i-typography.scss */
.a11y_grid__heading, .a11y_page-title, .a11y_product__heading {
  font-size: 2em;
  color: #404040;
}

/* line 18, ../base/_i-typography.scss */
.a11y_contact-info__heading, .a11y_contact-form__heading {
  font-size: 1.5em;
  color: #404040;
  margin-top: 30px;
}

/* line 25, ../base/_i-typography.scss */
.a11y_menu__list-item, .a11y_product-item__title, .a11y_product__sub-heading {
  font-size: 1em;
}

/* line 30, ../base/_i-typography.scss */
.a11y_header__top-border-link, .a11y_header__cart-counter, .a11y_product-item__description, .a11y_product-item__price, .a11y_product-item__availability, .a11y_product__price-label, .a11y_product__info-text, .a11y_contact-info__text, .a11y_contact-form__label, .a11y_contact-form__select, .a11y_contact-form__text-field, .a11y_contact-form__text-area {
  color: #404040;
  margin-bottom: 10px;
}

/* line 1, ../base/_i-placeholders.scss */
.a11y_grid, .a11y-header__top-border-links-container, .a11y_page-title, .a11y_menu, .a11y_product, .a11y_contact-info, .a11y_contact-form {
  margin-right: 10%;
  margin-left: 10%;
}

/* line 6, ../base/_i-placeholders.scss */
.a11y_carousel__button-label, .a11y_accessibility-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 17, ../base/_i-placeholders.scss */
.a11y_grid, .a11y_product {
  *zoom: 1;
}
/* line 19, ../base/_i-placeholders.scss */
.a11y_grid:before, .a11y_product:before, .a11y_grid:after, .a11y_product:after {
  content: " ";
  display: table;
}
/* line 23, ../base/_i-placeholders.scss */
.a11y_grid:after, .a11y_product:after {
  clear: both;
}

/* line 28, ../base/_i-placeholders.scss */
.a11y_header__top-border-link, .a11y_skip-link, .a11y_menu__link, .a11y_contact-info__link, .a11y_carousel__link, .a11y_product-item__link {
  box-sizing: border-box;
  text-decoration: none;
  color: #404040;
  font-style: normal;
}
/* line 34, ../base/_i-placeholders.scss */
.a11y_header__top-border-link:focus, .a11y_skip-link:focus, .a11y_menu__link:focus, .a11y_contact-info__link:focus, .a11y_carousel__link:focus, .a11y_product-item__link:focus {
  outline-color: #CF5390;
  text-decoration: underline;
}

/* line 40, ../base/_i-placeholders.scss */
.a11y_header__top-border-link, .a11y_skip-link, .a11y_menu__link {
  font-weight: bold;
}
/* line 44, ../base/_i-placeholders.scss */
.a11y_header__top-border-link:hover, .a11y_skip-link:hover, .a11y_menu__link:hover {
  text-decoration: underline;
}

/* line 49, ../base/_i-placeholders.scss */
.a11y_contact-info__link {
  text-decoration: underline;
}

/* line 55, ../base/_i-placeholders.scss */
.a11y_product-item__title:hover, .a11y_product-item__description:hover {
  text-decoration: underline;
}

/*vendors*/
/* line 1, ../vendors/_slick.scss */
.slick-prev {
  color: black;
}

/* line 6, ../vendors/_slick.scss */
.slick-next {
  color: black;
}

/*helpers*/
/*layout*/
/* line 1, ../layout/_main-container.scss */
.a11y_main-container {
  margin-right: 5%;
  margin-left: 5%;
}

/* line 4, ../layout/_grid.scss */
.a11y_grid__item {
  clear: none;
  margin-left: 4%;
}

/* line 10, ../layout/_grid.scss */
.a11y_grid__item--nth-1 {
  clear: both;
  margin-left: 0;
}

/* line 16, ../layout/_grid.scss */
.a11y_grid {
  margin-top: 30px;
}

/* line 26, ../layout/_grid.scss */
.a11y_grid__item {
  box-sizing: border-box;
  width: 21.95%;
  float: left;
}

/*features*/
/* line 1, ../features/_button.scss */
.a11y_button {
  display: block;
  background: #CF5390;
  border: none;
  color: #ffffff;
  font-size: 1em;
  margin-top: 15px;
  padding: 15px 60px;
}
/* line 11, ../features/_button.scss */
.a11y_button:hover {
  background: #EE7CB4;
}

/* line 5, ../features/_header.scss */
.a11y_header__top-border {
  height: 2em;
  background-color: #CF5390;
  border-bottom: 2px solid #8A305C;
}

/* line 11, ../features/_header.scss */
.a11y-header__top-border-links-container {
  float: right;
}

/* line 16, ../features/_header.scss */
.a11y_header__top-border-link {
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  line-height: 1.7em;
  height: 100%;
}
/* line 24, ../features/_header.scss */
.a11y_header__top-border-link:hover, .a11y_header__top-border-link:focus {
  background-color: #EE7CB4;
  text-decoration: none;
}

/* line 31, ../features/_header.scss */
.a11y_header__top-border-icon {
  margin-right: 0.3em;
}

/* line 38, ../features/_header.scss */
.a11y_header__cart-counter.is-not-empty {
  color: #FBCCE4;
}

/* line 4, ../features/_skip-links.scss */
.a11y_skip-link {
  position: absolute;
  left: 0;
  top: -3em;
  width: 100%;
  height: 3em;
  text-align: center;
  line-height: 2.5em;
  background: #36185f;
  color: #ffffff;
}
/* line 16, ../features/_skip-links.scss */
.a11y_skip-link:focus {
  top: 0;
}

/* line 5, ../features/_menu.scss */
.a11y_menu__list {
  list-style: none;
}

/* line 9, ../features/_menu.scss */
.a11y_menu__list-item {
  display: inline-block;
}

/* line 14, ../features/_menu.scss */
.a11y_menu__link {
  font-size: 1.5em;
  display: block;
  padding: 10px;
}
/* line 20, ../features/_menu.scss */
.a11y_menu__link.is-first {
  margin-left: -10px;
  color: #CF5390;
  font-size: 3em;
}
/* line 25, ../features/_menu.scss */
.a11y_menu__link.is-first:hover {
  color: #EE7CB4;
}

/* line 1, ../features/_carousel.scss */
.a11y_carousel {
  width: 80%;
  margin: auto;
  margin-top: 1em;
}

/* line 11, ../features/_carousel.scss */
.a11y_carousel__image {
  width: 100%;
  height: auto;
  display: inline-block;
}

/* line 18, ../features/_carousel.scss */
.a11y_carousel__button {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

/* line 26, ../features/_carousel.scss */
.a11y_carousel__button--prev {
  left: -60px;
}

/* line 30, ../features/_carousel.scss */
.a11y_carousel__button--next {
  right: -60px;
}

/* line 34, ../features/_carousel.scss */
.a11y_carousel__button-icon {
  color: #404040;
}
/* line 37, ../features/_carousel.scss */
.a11y_carousel__button-icon:hover {
  color: #808080;
}

/* line 1, ../features/_product-item.scss */
.a11y_product-item {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

/* line 11, ../features/_product-item.scss */
.a11y_product-item__image {
  width: 100%;
  height: auto;
}

/* line 16, ../features/_product-item.scss */
.a11y_product-item__title {
  font-weight: bold;
  display: block;
}

/* line 23, ../features/_product-item.scss */
.a11y_product-item__description {
  display: block;
}

/* line 29, ../features/_product-item.scss */
.a11y_product-item__price {
  display: block;
  color: #CF5390;
}

/* line 35, ../features/_product-item.scss */
.a11y_product-item__expandable-section {
  padding-top: 10px;
  bottom: 0;
  display: none;
}
/* line 40, ../features/_product-item.scss */
.a11y_product-item__expandable-section.is-expanded {
  display: block;
}

/* line 45, ../features/_product-item.scss */
.a11y_product-item__availability {
  font-size: 1em;
}

/* line 50, ../features/_product-item.scss */
.a11y_product-item__availability-icon {
  color: #2C7E3E;
  margin-right: 5px;
}

/* line 55, ../features/_product-item.scss */
.a11y_product-item__ranking {
  float: right;
}

/* line 59, ../features/_product-item.scss */
.a11y_product-item-ranking-icon {
  color: #404040;
}

/* line 1, ../features/_product.scss */
.a11y_product {
  background-color: #FDFFCF;
  padding: 30px;
}

/* line 9, ../features/_product.scss */
.a11y_product__image-container {
  width: 45%;
  float: left;
}

/* line 14, ../features/_product.scss */
.a11y_product__image {
  width: 100%;
  margin: auto;
}

/* line 19, ../features/_product.scss */
.a11y_product__info {
  width: 50%;
  float: left;
  margin-left: 30px;
}

/* line 29, ../features/_product.scss */
.a11y_product__price-label {
  font-size: 2em;
}

/* line 34, ../features/_product.scss */
.a11y_product__price {
  color: #CF5390;
}

/* line 42, ../features/_product.scss */
.a11y_product__sub-heading {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #9FA439;
}

/* line 5, ../features/_contact-info.scss */
.a11y_contact-info__column {
  width: 50%;
  float: left;
}

/* line 14, ../features/_contact-info.scss */
.a11y_contact-info__text {
  display: block;
  max-width: 45em;
}

/* line 20, ../features/_contact-info.scss */
.a11y_contact-info__link {
  display: inline;
}

/* line 1, ../features/_contact-form.scss */
.a11y_contact-form {
  clear: both;
  width: 70%;
}

/* line 11, ../features/_contact-form.scss */
.a11y_contact-form__element-container {
  width: 49%;
  float: left;
}
/* line 15, ../features/_contact-form.scss */
.a11y_contact-form__element-container.is-last {
  float: right;
}

/* line 20, ../features/_contact-form.scss */
.a11y_contact-form__label {
  display: block;
  clear: both;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 28, ../features/_contact-form.scss */
.a11y_contact-form__select, .a11y_contact-form__text-field, .a11y_contact-form__text-area {
  font-size: 100%;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* line 37, ../features/_contact-form.scss */
.a11y_contact-form__select {
  height: 2em;
}

/* line 42, ../features/_contact-form.scss */
.a11y_contact-form__text-field {
  height: 2em;
}

/* line 51, ../features/_contact-form.scss */
.a11y_contact-form__button {
  float: right;
}

/*# sourceMappingURL=style.css.map */
